= form_for @bet do |f|
  = f.collection_select :player_id, Player.all, :id, :full_name
  will earn
  = f.select :comparison, Bet::COMPARISONS
  = f.number_field :bet_metric_amount
  = f.select :bet_metric, Bet::ALL_METRICS
  from week
  = f.collection_select :start_week_id, Week.all, :id, :week_in_season
  to week
  = f.collection_select :end_week_id, Week.all, :id, :week_in_season
  for
  = f.number_field :amount
  dollars
  = f.submit


.bet-form


:javascript
  Statbet.betFormView = new Statbet.BetFormView;
  Statbet.betFormView.render();