%ul.nav.nav-tabs
  %li{:role => "presentation"}
    %a{:href => "?bets=mine"} My Bets
  %li{:role => "presentation"}
    %a{:href => "?bets=open"} Open Bets
  %li{:role => "presentation"}
    %a{:href => "?bets=friends"} Friends Bets

.container-fluid
  - @bets.each do |bet|
    .bet-panel.panel.panel-bet.clearfix
      .player-icon-wrapper
        .player-icon
          - image_tag 'mock/peyton.jpg'

      .bet-content-wrapper
        .player-info.clearfix
          .player-name
            = bet.player.full_name
          .player-details
            .player-position
              = bet.player.position
            .player-team
              = bet.player.team.name # need to lazy load these as well.
        .bet-metrics.clearfix
          .bet-statement.clearfix
            will have
            %span.bet-more-less.bet-greater-than
              = bet.comparison.humanize
            %span.bet-numerical-metric
              = bet.bet_metric_amount
            %span.bet-metric-unit
            = bet.bet_metric.humanize
        .bet-week
          week
          = bet.start_week.week_in_season
          to week
          = bet.end_week.week_in_season

        .user-information
          posted by:
          - # we need to add user names as we don't want to reveal a user's email if we don't have to.
          = link_to bet.creator.email, '#'

        .bet-status.open
          open
      .bet-amount
        = number_to_currency bet.amount

